/*Шрифты и переменные*/

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');	
}
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: "Kaushan_Script";
	src:url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
	font-family: "Roboto";
	src:url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto";
	src:url(../fonts/Roboto/Roboto-Light.ttf);
	font-weight: light;
}
@font-face {
	font-family: "Roboto";
	src:url(../fonts/Roboto/Roboto-Bold.ttf);
	font-weight: bold;
}
$main-font: "Montserrat", sans-serif;
$main-font-content: "Roboto", sans-serif;
$link-font: #fff;
$text-color: #333;

/*Основной файл*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.5s;
}
img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
}

a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
header {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
	width: 100%;
	height: 1000px;


	.header-bg {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(243,129,129,0.9), rgba(251,227,137,0.9));
		left: 0;
		top: 0;
		z-index: 0;
		position: absolute;
	}
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header-top-line {
	margin: 21px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.header-logo span {
	font-size: 30px;
	color: #fff;	
	font-family: $main-font;
	font-weight: bold;
	align-self: center;
}
nav {
	align-self: center;
	ul {
		display: flex;
		li {
			list-style-type: none;
			padding-right: 53px;
			text-align: center;
			align-self: center;
			&:last-child {
				padding-right: 0px;
			}
			a {
				text-decoration: none;
				color: $link-font;
				text-transform: uppercase;
				font-family: $main-font;
				font-size: 14px;
				&:hover {
					color: #fbe389;
				}
			}
		}
	}
}
nav ul li:first-child a {
	border-bottom: 2px solid #fbe389;
	padding-bottom: 7px;
	color: #fbe389;
}
.header-title {
	margin: 0 auto;
	margin-top: 153px;
	text-align: center;
}
.header-title-one {
	font-family: "Kaushan_Script";
	color: #fff;
	font-size: 72px;
}
.header-title-two {
	font-family: $main-font;
	font-weight: bold;
	font-size: 150px;
	line-height: 140px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 25px;
}
.header-title-border {
	margin: 0 auto;
	height: 3px;
	background: #fff;
	width: 60px;
	margin-top: 57px;
}
.header-title-button {
	margin: 0 auto;
	margin-top: 50px;
	width: 156px;
	border: 3px solid #fff;
	text-align: center;
	& a:hover {
		background: #fff;
		color: #333;
	}
	a {
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $main-font;
		font-weight: bold;
		display: block;
		padding: 8px;
	}
}
.header-bot {
	margin-top: 157px;
	ul {
		display: flex;
		justify-content: space-between;
		li {
			border-top: 3px solid #fff;
			width: 25%;
			margin-right: 30px;
			text-align: left;
			padding: 20px 0;
			position: relative;
			a {
				color: #fff;
				font-family: $main-font;
				text-transform: uppercase;
				font-size: 17px;
				span {
					font-family: $main-font;
					font-weight: bold;
					margin-right: 5px;
					font-size: 23px;
				}
			}


		}
	}
}
.header-bot ul li:first-child:after {
	content: '';
	position: absolute;
	left: 0;
	top: -3px;
	border-top: 3px solid #f38181;
	width: calc(100% - 200px);
}

.header-bot ul li:last-child {
	margin-right: 0;
}
.main-title {
	margin: 0 auto;
	margin-top: 86px;
	text-align: center;
	margin-bottom: 44px;
}
.main-title-small {
	font-family: "Kaushan_Script";
	font-size: 24px;
	color: $text-color;
}	
.main-title-big {
	font-family: $main-font;
	font-size: 30px;
	color: $text-color;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 9px;
}
.main-title-big-line {
	margin: 0 auto;
	height: 3px;
	width: 58px;
	background: #f38181;
	margin-top: 33px;
}
.about-us {
	text-align: center;
	p{
		font-family: $main-font-content;
		font-size: 15px;
		color: #333;
		line-height: 22px;
	}
	.about-us-items {
		display:flex;
		justify-content: space-between;
		margin-top: 99px;
		line-height: 0;
	}
}
.about-us-items-item {

	position: relative;
	&:hover .about-us-item_hover {
		opacity: 1;

	}
	
	.about-us-item_hover {
		position: absolute;
		background: linear-gradient(rgba(243,129,129,0.9), rgba(251,227,137,0.9));
		width: 100%;
		height: 100%;
		opacity: 0;
		top: 0;
		left: 0;
		padding: 20px 0;
		& i {
			line-height: normal;
			margin: 82px 0 7px 0;
			color: #fff;
			font-size: 30px;
		}

		p {
			text-transform: uppercase;
			color: #fff;
			font-size: 17px;
			font-family: $main-font-content;
			margin-bottom: 20px;
			font-weight: bold;
		}
	}
}

.number-bg {
	background: #95e1d4;
	width: 100%;
	margin-top: 97px;
	ul {
		display: flex;
		justify-content: space-between;
		text-align: center;
		li {
			color: #fff;
			width: 25%;
			align-self: center;
			padding: 75px 0;
			border-left: 1px solid #fff;

			&:last-child {
				border-right: 1px solid #fff;
			}
			span {
				font-family: $main-font;
				font-size: 60px;
				font-weight: bold;
			}
			p {
				font-family: $main-font;
				font-size: 14px;
				padding-top: 8px;
			}
		}
	}
}
.services {
	ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;
		position: relative;
		li {
			display: flex;	
			margin-bottom: 90px;
			text-align: left;
			img {
				width: 30px;
				height: 30px;
				margin-right: 23px;
			}
			.services-text {
				font-family: "Roboto", sans-serif;
				color: $text-color;
				font-size: 14px;
				width: 317px;
				strong {
					text-transform: uppercase;
				}
				p {
					font-family: "Roboro", sans-serif;
					color: #969696;
					font-size: 14px;
					margin-top: 9px;
					line-height: 20px;

				}
			}
		}
	}
}
.services ul li:nth-child(3n+4):before{
	content: "";
	width:100%;
	height: 1px;
	background: #e4e4e5;
	position: absolute;
	left: 0;
	margin-top: -42px;
}
.unique-design {
	height: 900px;
	background-image: url(../img/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;

	.unique-design-bg {
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.8);
		left: 0;
		top: 0;
		z-index: 0;
		position: absolute;
	}
}
.unique-design-img {
	width: 535px;
	margin: 0 auto;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: -90px;
		background-image: url(../img/phone-i.png);
		background-repeat: no-repeat;
		background-position: top center;
		width: 292px;
		height: 498px;
		right: -165px;
	}
}
.service-text {
	font-family: "Roboto", sans-serif;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	font-size: 15px;
	color: #333;
	line-height: 22px;
	margin-bottom: 99px;
}
.service-block {
	display: flex;
}
.service-block img {
	width: 40%;
	height: 100%;
	margin-right: 30px;
}
.service-block-img {

}
.service-block-right {
	width: 100%;
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		align-content: center;
		font-family: "Roboto", sans-serif;

		li {
			align-self: center;
			width: 100%;
			border: 1px solid #ececec;
			margin-bottom: 10px;

			.service-block-right-li-title {
				font-weight: bold;
				border-bottom: 1px solid #ececec;
				padding: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-transform: uppercase;
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					&:before {
						content: "";
						display: inline-block;
						background-image: url(../img/hill.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						width: 30px;
						height: 30px;
						top: 5px;
						margin-right: 10px;
					}
				}
			}
			.service-block-right-li-text {
				padding: 10px;
				width: 100%;
				height: 130px;
				font-family: "Roboto", sans-serif;
				font-size: 14px;
				color: #c7c7c7;
				font-style: italic;
				line-height: 20px;
				overflow: scroll;
				overflow-x: hidden;
				margin-bottom: 10px;

			}
			img {
				width: 30px;
				height: 15px;
				margin-right: 15px;
				display: inline;
			}
		}
	}
}
.service-block-right ul li:nth-child(2) span:before {
	content: "";
	display: inline-block;
	background-image: url(../img/equalaizer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	top: 5px;
	margin-right: 10px;
}
.service-block-right ul li:nth-child(3) span:before {
	content: "";
	display: inline-block;
	background-image: url(../img/bulseeye.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	top: 5px;
	margin-right: 10px;
}
.first-feedback {
	width: 100%;
	padding: 50px 0;
	margin: 20px 0;
	background: #f8f8f8;
	margin-top: 120px;
}
.first-feedback-items{
	display: flex;
	justify-content: space-around;
	align-items: center;
	p {
		text-align: left;
		font-family: $main-font-content;
		color: #adadad;
		line-height: 30px;
		margin-left: 60px;
	}
	span {
		display: block;
		font-family: "Kaushan_Script";
		color: #000;
		display: flex;
		align-items: center;
		font-size: 20px;
		&:before {
			content: "";
			height: 3px;
			background: #ff7a7a;
			width: 45px;
			margin-right: 10px;

		}
	}
}
.first-feedback-items-arrow {
	width: 12px;
	height: 20px;
	margin-right: 50px;
}
.first-feedback-items-image {
	border: 2px solid #78e4d4;
	padding: 15px;
	width: 100px;
	height: 100px;
}
.first-feedback-items-arrow2 {
	width: 12px;
	height: 20px;
	margin-left: 50px;
}
.we_are-items {
	display: flex;
	justify-content: space-between;
	.we_are-item p {
		font-size: 16px;
		text-align: center;
		margin-top: 20px;
		font-family: $main-font-content;
		text-transform: uppercase;
		color: #333;
		span {
			font-size: 14px;
			color: #c3c3c3;
			margin-top: 5px;
			display: block;
			text-transform: none;
			font-style: italic;
		}
	}
	.we_are-item-bg {
		width: 380px;
		height: 470px;
		background-image: url(../img/man2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -110px 0;
	}
}
.we_are-items .we_are-item:nth-child(2) .we_are-item-bg {
	width: 380px;
	height: 470px;
	background-image: url(../img/man3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -62px 0;
}
.we_are-items .we_are-item:nth-child(3) .we_are-item-bg {
	width: 380px;
	height: 470px;
	background-image: url(../img/man4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -120px 0;
}
.container-partners {
	width: 100%;
	margin-top: 125px;
	background-color: #f8f8f8;
}
.partners {
	display: flex;
	justify-content: space-between;
	a {
		margin-right: 20px;
		align-self: center;
	}
}
.some_work-items-container {
	width: 100%;
	display: flex;
	justify-content: inherit;
	height: 800px;
	.some_work-items {	
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		.some_work-item {
			width: 50%;
			height: 400px;
			line-height: 0;
			img {
				height: 100%;
			}
		}
	}
	.some_work-items2 {
		display: flex;
		height: 800px;
		width: 25%;
		.some_work-item2 {
			height: 800px;
			img {
				height: 100%;
			}
		}	
	}
	.some_work-items3 {
		height: 800px;
		width: 25%;
		.some_work-item3 {
			width: 100%;
			height: 50%;
			line-height: 0;
			img {
				height: 100%;
			}
		}	
	}
}

.some_work-item, .some_work-item2, .some_work-item3 {
	position: relative;
	&:hover .some_work-item_hover {
		opacity: 1;
	}
	
	.some_work-item_hover {
		position: absolute;
		background: linear-gradient(rgba(243,129,129,0.9), rgba(251,227,137,0.9));
		width: 100%;
		height: 100%;
		opacity: 0;
		top: 0;
		left: 0;
		padding: 20px 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		& i {
			line-height: normal;
			color: #fff;
			font-size: 37px;
		}

		p {
			text-transform: uppercase;
			color: #fff;
			font-size: 17px;
			font-family: $main-font-content;
			margin-top: 20px;
		}
		span {
			color: #f8f8f8;
			font-size: 14px;
			font-family: $main-font-content;
			margin-top: 20px;
			font-style: italic;
			line-height: normal;
		}
	}
}
.second-feedback {
	padding: 50px 0;
	margin: 20px 0;
	margin-top: 70px;
}
.second-feedback-items{
	display: flex;
	justify-content: space-around;
	align-items: center;
	p {
		text-align: left;
		font-family: $main-font-content;
		color: #adadad;
		line-height: 30px;
		margin-left: 60px;
		font-size: 20px;
		font-style: italic;
		font-weight: light;
	}
	span {
		display: block;
		font-family: "Kaushan_Script";
		color: #000;
		display: flex;
		align-items: center;
		font-size: 20px;
		&:before {
			content: "";
			height: 3px;
			background: #ff7a7a;
			width: 45px;
			margin-right: 10px;

		}
	}
}
.second-feedback-items-arrow {
	width: 12px;
	height: 20px;
	margin-right: 50px;
}
.second-feedback-items-image {
	border-radius: 500px;
	padding: 15px;
	width: 250px;
	height: 250px;
}
.second-feedback-items-arrow2 {
	width: 12px;
	height: 20px;
	margin-left: 50px;
}

.happy_clients {
	height: 700px;
	background-image: url(../img/otz_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
}
.happy_clients_bg {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	left: 0;
	top: 0;
	z-index: 0;
	position: absolute;
}
.happy_clients-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	.happy_clients-item {
		display: flex;
		width: 40%;
		margin-right: 65px;
		margin-bottom: 90px;

	}
	img {
		width: 120px;
		height: 120px;
		margin-right: 20px;
	}
}
.happy_clients-item-content {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	font-family: $main-font-content;
	b {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 7px;
	}
	span {
		font-style: italic;
		margin-bottom: 20px;
	}
	p {
		color: #ababab;
		line-height: 20px;
		font-weight: 400;
	}
}
.happy_clients-item-content-line {
	height: 3px;
	width: 58px;
	background: rgb(243, 129, 129);
	margin-bottom: 20px;
}
.latest-blog-items {
	display: flex;
	justify-content: space-between;

}
.latest-blog-item1,.latest-blog-item2,.latest-blog-item3 {
	font-family: $main-font-content;
	width: 32%;
	.latest-blog-item-bg {
		background-image: url(../img/blog.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		width: 385px;
		height: 240px;
		position: relative;

		.latest-blog-item-block {
			width: 60px;
			height: 72px;
			background-color: #78e4d4;
			position: absolute;
			bottom: 12px;
			left: -12px;
			font-weight: bold;
			text-align: center;
			color: #fff;
			font-size: 25px;
			padding-top: 20px;
			line-height: 20px;
			span {
				text-align: center;
				color: #b8efe9;
				font-style: italic;
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
	.latest-blog-item-content-icons {
		display: flex;
		margin-top: 20px;
		font-size: 16px;
		border-top: 1px solid #bfbfbf;
		padding-top: 20px;
		i {
			color: #78e4d4;
			margin-right: 8px;

		}
		p {
			margin-right: 15px;
			font-style: italic;
			color: #bfbfbf;
			font-size: 16px;
		}
	}
}
.latest-blog-item-content {
	display: flex;
	flex-direction: column;
	.latest-blog-item-content-title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		margin-top: 12px;
		a {
			color: #333;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	span {
		margin-top: 10px;
		padding-bottom: 15px;
		line-height: 22px;
		display: block;
		color: #bfbfbf;
		height: 90px;
		overflow: hidden;
	}

}
.latest-blog-item2 {
	.latest-blog-item-bg {
		background-image: url(../img/blog2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		width: 385px;
		height: 240px;
		position: relative;
	}
}
.latest-blog-item3 {
	.latest-blog-item-bg {
		background-image: url(../img/blog3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		width: 385px;
		height: 240px;
		position: relative;
	}
}
.open-map {
	width: 100%;
	height: 150px;
	overflow: hidden;
	background-image: url(../img/map.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 100px;
	position: relative;
	.open-map_bg {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		left: 0;
		top: 0;
		z-index: 0;
		position: absolute;
	}
	.open-map-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #f18078;
		font-family: $main-font-content;
		font-weight: bold;
		text-align: center;
		.open-map-content-icon {
			font-size: 20px;
			
		}
		.open-map-content-title {
			font-size: 25px;
			text-transform: uppercase;
			margin-top: 10px;
		}
		.open-map-content-line {
			height: 3px;
			width: 58px;
			background: #f38181;
			margin-top: 20px;
		}
	}
}
.container-map {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.footer-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid #cecece;
	.footer-content {
		font-family: $main-font-content;
		width: 33%;
		.footer-content-logo {
			font-size: 45px;
			color: #cccccc;	
			font-family: $main-font;
			font-weight: bold;
			align-self: center;
		}
		.footer-content-content {
			margin-top: 20px;
			line-height: 23px;
			color: #bababa;
		}
		.footer-content-social {
			.footer-content-social-followers {
				font-weight: bold;
				font-size: 16px;
				margin-top: 20px;
				padding-bottom: 15px;
				border-bottom: 1px solid #e9e9e9;
				span {
					font-weight: normal;
					font-size: 14px;
				}
			}
			.footer-content-social-socials {
				display: flex;
				margin-top: 15px;
				align-items: center;
				span {
					font-size: 14px;
					color: #c0c0c0;
					margin-right: 10px;
				}
				i {
					color: #a5e4d9;
					margin-right: 10px;
				}
			}
		}
		.footer-content-form {
			display: flex;
			margin-top: 31px;
			height: 34px;
			.footer-content-form-email {
				border: 1px solid #e9e9e9;
				width: 60%;
				padding-left: 10px;
				&::placeholder {
					color: #e9e9e9;
					font-size: 14px;
				}
			}
			.footer-content-form-button {
				background: #a5e4d9;
				border: none;
				width: 40%;
				color: white;
				text-transform: uppercase;
				cursor: pointer;
			}
		}
	}
	.footer-blog {
		font-family: $main-font-content;
		margin-left: 20px;
		width: 33%;
		.footer-blog-title {
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 22px;
		}
		.footer-blog-items {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			.footer-blog-item {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				margin-top: 11px;
				img {
					width: 130px;
					height: 90px;
				}

				.footer-blog-item-content {
					display: flex;
					flex-direction: column;
					margin-left: 20px;
					a {
						font-weight: bold;
						line-height: 20px;
						margin-bottom: 5px;
						text-transform: uppercase;
						font-size: 14px;
						color: #333;
						span {
							color: #cecece;
							font-size: 14px;
							font-style: italic;
							text-transform: none;
							font-weight: 300;
						}
					}

				}
			}
		}
	}
	.footer-instagram {
		font-family: $main-font-content;
		width: 23%;
		.footer-instagram-title {
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 33px;
		}
		.footer-instagram-items {
			display: flex;
			flex-wrap: wrap;
			line-height: 0;
			.footer-instagram-item {
				margin: 0 3px 3px 0;
			}

		}
		a {
			text-decoration: none;
			color: #cecece;
			font-style: italic;
			line-height: normal;
			font-size: 12px;
			margin-top: 11px;
		}
	}
}
.footer-copyright {
	text-align: center;
	font-family: $main-font-content;
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 15px;
	
	span {
		color: #ffa4ac;
	}
}



















